/*.db
/flask_session

# Byte-compiled / optimized / DLL files
__pycache__/
.vscode/settings.json
.vs/

# Avatars
/static/images/avatars/*.*
/static/images/products/*.*
!/static/images/products/default.jpg
