{% macro avatar(src='default.jpg', size=100) -%}
    <img class="rounded-circle border account-img" src="/static/images/avatars/{{ src }}" width="{{ size }}" height="{{ size }}">
{%- endmacro %}

{% macro product_card(item) -%}
    <div class="card card-body shadow d-block">
        <img src="/static/images/products/{{ item.img }}" class="img-fluid rounded mb-2" alt="{{ item.name }}">
        <span class="h5 fw-normal fw-normal align-top">$</span>
        <span class="h2 lh-1">{{ "%.0f"|format(item.price) }}</span>
        <span class="h5 fw-normal text-muted align-top">{{ ("%.2f"|format(item.price))[-2:] }}</span>
        <h5 class="mt-2 mb-0">{{ item.name }}</h5>
        <a class="stretched-link" href="/product/{{ item.id }}"><span class="visually-hidden">View Product Page</span></a>
    </div>
{%- endmacro %}
