{% extends "layout.html" %}
{% import "includes/components.html" as components %}
{% block content %}

<h1>Hello, {{ current_user.name }}</h1>

{# TODO: Profile picture, user ratings, etc. #}
<div class="content-section">
    <form action="/account" method="POST" enctype="multipart/form-data" class="row col-xl-8 gy-3 row align-items-stretch">
        <br>
        <div class="form-container card card-body col col-4 me-3">
            <h3>{{"Profile_Picture"|loc}}</h3>
            {{ components.avatar(src=current_user.img) }}
            {{ form.img.label() }}
            {{ form.img(class="form-control mb-2") }}
            <div>
                <button class="btn btn-outline-primary mb-2">{{"Update"|loc}}</button><br>
                <a class="btn btn-outline-secondary btn-sm" href="/account/avatar/remove">{{"Remove Profile Picture"|loc}}</a>
            </div>
            {% if form.img.errors %}
                {% for error in form.img.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
            {% endif%}
        </div>
        <br>
        <div class="form-container card card-body col col-4 me-3">
            <h3>{{"Account_Information"|loc}}</h3>
            {{ form.hidden_tag() }}
            <label class="form-label" for="email">{{"UserName"|loc}}</label>
            {{ form.username(size=32, class_="form-control", placeholder="User Name") }}
            <div class="form-group mt-3">
                <label class="form-label" for="email">{{"Email"|loc}}</label>
                {{ form.email(size=32, class_="form-control", placeholder="Email Address") }}
            </div>
            <div class="form-group mt-3">
                <label class="form-label" for="email">{{"Lang"|loc}}</label>
                <select class="form-select" name="lang" id="lang">       
                    <option value="en">English</option>
                    <option value="vi">Tiếng Việt</option>
                </select>
                <script>lang.value = "{{current_user.lang}}"</script>
            </div>
            <div>
                <button class="form-element-button btn btn-primary mt-3" type="submit">{{"Update"|loc}}</button>
                <a class="btn btn-secondary mt-3" href="/user/{{current_user.name}}">{{"View Profile"|loc}}</a><br>
            </div>
        </div>

        <div class="form-container card card-body col col-4 me-3">
            <h3>{{"Seller Account"|loc}}</h3>
            <p>{{"Check_box_sign_up"|loc}}</p>
            <div class="form-check mt-4">
                {{ form.role(class_="form-check-input") }}
                {{ form.role.label(class_="form-check-label") }}
            </div>
            <div>
                <button class="form-element-button btn btn-success mt-3" type="submit">{{"Update"|loc}}</button>
            </div>
        </div>

        <div class="card card-body col col-4 me-3">
            <h3>{{"Delete Account"|loc}}</h3>
            <div class="mt-3 mb-5">
                <p>{{"Delete_Account_Click"|loc}}</p>
                <a class="btn btn-danger btn-sm mt-2" href="/account/delete">{{"Delete Account"|loc}}</a>
            </div>
        </div>

        {% if form.role.data %}
            <div class="form-container card card-body me-3">
                <h3>{{"Seller Listing"|loc}}</h3>
                <div class="row">
                {% for item in items%}
                    <div class="col-3">
                    {{ components.product_card(item) }}
                    </div>
                {% endfor %}
                </div>
                <div>
                    <a class="btn btn-sm mt-3 btn-outline-primary" href="/product"><i class="bi bi-box-seam"></i> {{"Sell Item"|loc}}</a>
                </div>
            </div>
        {% endif %}

    </form>
</div>

{% endblock %}