{% extends "layout.html" %}
{% block content %}
<div class="p-5">
        <h2 class="text-dark mb-4">Edit your item</h2>
 </div>
<div class="row">
    <div class="col-9">
    <form action="/product/{{item.id}}/edit" method="POST" enctype="multipart/form-data">
        <div class="form-container mb-2 row gx-5">
            <div class="col-6">
                {{ form.hidden_tag() }}
                {{ form.name.label(class_="form-label") }} 
                {{ form.name(size=32, class_="form-control mb-3", value= item.name) }}
                {{ form.price.label(class_="form-label") }}
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    {{ form.price(size=32, class_="form-control", value= item.price ) }}
                </div>

                <div class="mb-3">
                    {{ form.img.label() }}
                    {{ form.img(class="form-control") }}
                    {% if form.img.errors %}
                        {% for error in form.img.errors %}
                            <span class="class-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif%}
                </div>

                <div class="mb-2">
                {{ form.description.label(class_="form-label") }} 
                {{ form.description(size=32, class_="form-control", value= item.description ) }}
                </div>
            </div>
            <div class="col-6 card card-body">
                <h5>Discount</h5>
                {{ form.discount_price.label(class_="form-label") }}
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    {{ form.discount_price(size=32, class_="form-control", value= item.discount_price ) }}
                </div>
                <div class="mb-3">
                    {{ form.end_sale.label(class_="form-label") }} 
                    {% if item.end_sale %}
                        {{ form.end_sale(size=32, class_="form-control", value= item.end_sale.strftime('%Y-%m-%d')) }}
                    {% else %}
                        {{ form.end_sale(size=32, class_="form-control") }}
                    {% endif %}
                </div>
            </div>
        </div>
        <button class="form-element-button btn btn-primary" type="submit">UPDATE</button>
    </form>
</div>
</div>
{% endblock %}