<html>
    <head>
        <title>Homework</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">            
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Excercise</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if not email %}
                        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {% else %}
                        <li><a href="/delete_account"><span class="glyphicon glyphicon-floppy-remove"></span> Delete Account</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Hello, {{email}}</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>            
        </div>
        {% if message != None %}
            <h1>{{message}}</h1>
        {% endif %}
    </body>
</html>