<html>
    <head>
        <title>Homework</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Team One</a>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
                </ul>
                <div class="d-flex">
                    <form class="input-group me-3 mb-0" action="/search">
                        <input class="form-control" type="text" placeholder="Search..." name="search">
                        <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
                <ul class="navbar-nav">
                    {% if current_user.is_anonymous %}
                    <li class="nav-item"><a class="nav-link" href="/register"><span class="bi bi-person-plus"></span> Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login"><span class="bi bi-box-arrow-in-right"></span> Login</a></li>
                    {% else %}
                    {% if current_user.seller %}
                    <a class="btn btn-outline-primary me-2" href="/product"><i class="bi bi-box-seam"></i> Sell Item</a>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="/wishlist">
                        <span class="bi bi-heart"></span> Wishlist
                        {% if current_user.lists[0].items|length %}
                        <span class="badge rounded-pill bg-danger">
                            {{ current_user.lists[0].items|length }}
                        </span>
                        {% endif %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cart">
                        <span class="bi bi-cart"></span> Cart
                        {% if current_user.cart|length %}
                        <span class="badge rounded-pill bg-danger">
                            {{ current_user.cart|length }}
                        </span>
                        {% endif %}
                    </a>
                    </li>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="/account"><span class="bi bi-person"></span> Hello, {{current_user.name}}</a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                            <li><a class="dropdown-item" href="/account"><span class="bi bi-gear"></span> Manage Account</a></li>
                            <li><a class="dropdown-item" href="/user/{{current_user.name}}"><span class="bi bi-person"></span> View Profile</a></li>
                            <li><a class="dropdown-item" href="/lists"><span class="bi bi-list"></span> My Lists</a></li>
                            <li><a class="dropdown-item" href="/logout"><span class="bi bi-box-arrow-in-left"></span> Logout</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container pt-2">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                {% if category == 'message' %}
                <div class="alert alert-primary my-2"><i class="bi bi-info-circle"></i> {{ message }}</div>
                {% elif category == 'error' %}
                <div class="alert alert-danger my-2"><i class="bi bi-exclamation-triangle-fill"></i> {{ message }}</div>
                {% elif category == 'warning' %}
                <div class="alert alert-warning my-2"><i class="bi bi-exclamation-triangle-fill"></i> {{ message }}</div>
                {% else %} {# success, info, etc... (Bootstrap colors) #}
                <div class="alert alert-{{category}} my-2"><i class="bi bi-info-circle"></i> {{ message }}</div>
                {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        {% if message != None %}
            <h1>{{message}}</h1>
        {% endif %}
    </body>
</html>