{% extends "layout.html" %}
{% block content %}
<h1 class="fw-bold mb-0 text-black">My Lists</h1>

{% if lists %}
{% for list in lists %}
<li class="mt-3">{{ list.name }} <a href="/lists/delete/{{list.id}}" class="btn btn-sm btn-danger">Delete</a></li>
{% endfor %}
{% endif %}

<form action="/lists" method="POST" class="card d-block mt-4 col-4 p-4 shadow">
    <h3>Add List</h3>
    {{ form.hidden_tag() }}
    {{ form.name.label }}
    {{ form.name(size=32, class_="form-control") }}
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>

{% endblock %}