{% extends "layout.html" %}
{% block content %}
    <body>
        <div class="container">   
        <h2 class="text-dark mb-4">{{"LOGIN_log"|loc}}</h2>
            <form action={{request.full_path}} method="POST">
                {{ form.hidden_tag() }}
                <div class="form-container col-4">
                    <div class="form-group mb-3">
                        {{ form.username.label(class_="form-label") }} <br>
                        {{ form.username(size=32, class_="form-control", placeholder="User Name") }} 
                    </div>
        
                    <div class="form-group">
                        {{ form.password.label(class_="form-label") }} <br>
                        {{ form.password(size=32, class_="form-control", placeholder="Password") }}
                         <br>
                    </div>              
                    <div class="form-check my-2">
                        {{ form.remember_me(class_="form-check-input") }}
                        {{ form.remember_me.label(class_="form-check-label") }}
                    </div>       
                </div>
                <button class="btn btn-primary mb-2" type="submit">{{"Login"|loc}}</button>
                <div>
                    <small class="font-weight-bold">{{"No_account"|loc}} <a href="/register">{{"Register"|loc}}</a></small>
                </div>
            </form>
    </body>
{% endblock %}
    