{% extends "layout.html" %}
{% import "includes/components.html" as components %}
{% block content %}
<form class="mb-5" action="/search">
    <div class="col-6 mb-5">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="{{'Search_Placeholder'|loc}}" value="{{query}}" name="q">
            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <h4>{{"Advanced Filters"|loc}}</h4>
            <label class="form-label" for="max-price">{{"Maximum Price"|loc}}</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" placeholder="0.00" name="mxp" id="max-price" value="{{max_price}}">
            </div>
            <label class="form-label" for="min-rating">{{"Minimum Rating"|loc}}</label>
            <div class="input-group mb-3">
                <span class="input-group-text" style="color:orange"><i class="bi bi-star-fill"></i></span>
                <input type="number" class="form-control" placeholder="0" name="mnr" id="min-rating" value="{{min_rating}}">
            </div>
        </div>
        <div class="col-10">
        {% if items %}
            <h3>{{"Search Results"|loc}}</h3>
            <div class="row mt-3">
                {% for item in items %}
                    <div class="col-2">
                    {{ components.product_card(item) }}
                    </div>
                {% endfor %}
            </div>
            {% elif query %}
            <h3>{{"Search Results"|loc}}</h3>
            <p class="text-muted mt-3">{{"Search_No_Results"|loc}}</p>
        {% endif %}
        </div>
    </div>
</form>


{% endblock %}