{% extends "layout.html" %}
{% import "includes/components.html" as components %}
{% block content %}

{# Use 'user', not 'current_user' for this page. #}

{{ components.avatar(user.img) }}
<div class="mb-4">
    <h1 class="d-inline">{{ user.name }}</h1>
    {% if user.seller %}
    <h4 class="d-inline">
        <span class="ms-2 badge rounded-pill bg-primary">
            <i class="bi bi-shop"></i> Seller
        </span>
    </h4>
    {% endif %}
</div>
{% if user.seller %}

<h5>User Ratings</h5>
{{ components.rating(user.rating, user.num_ratings) }}<br>

<div class="form-container card card-body mt-4">
    <h3>Items for Sale</h3>
    <div class="row">
    {% if items|length %}
        {% for item in items%}
            <div class="col-2">
            {{ components.product_card(item) }}
            </div>
        {% endfor %}
    {% else %}
        <p>This seller has no products yet!</p>
    {% endif %}
    </div>
</div>
{% endif %}

{% if user.reviews %}
<h5 class="mt-4">User's Product Reviews</h5>
{% for review in user.reviews %}
    <div class="row mb-3">
        <div class="col-2">
            {{ components.product_card(review.item) }}
        </div>
        <div class="col-6 align-items-stretch">
            {{ components.review_card(review, user) }}
        </div>
    </div>
{% endfor %}
</div>
{% endif %}
{% if current_user.id == user.id %}
    <div class="form-container card card-body mt-4">
        <h3>Recently Purchased Items</h3>
        <div class="row">
        {% if current_user.purchase|length %}
            {% for items in current_user.purchase%}
                <div class="col-2">
                {{ components.product_card(items) }}
                </div>
            {% endfor %}
        {% else %}
            <p>This user has no purchases yet!</p>
        {% endif %}
        </div>
    </div>
{% endif %}


{% endblock %}