{% extends "layout.html" %}
{% import "includes/components.html" as components %}
{% block content %}

{# Use 'user', not 'current_user' for this page. #}

{{ components.avatar(user.img) }}
<div class="mb-4">
    <h1 class="d-inline">{{ user.name }}</h1>
    <h4 class="d-inline">
        <span class="ms-2 badge rounded-pill bg-primary">
            <i class="bi bi-shop"></i> Seller
        </span>
    </h4>
</div>
{% if current_user.seller %}

<h5>User Ratings</h5>
{{ components.rating(test_rating) }}

<div class="form-container card card-body mt-4">
    <h3>Items for Sale</h3>
    <div class="row">
    {% if items|length %}
        {% for item in items%}
            <div class="col-2">
            {{ components.product_card(item) }}
            </div>
        {% endfor %}
    {% else %}
        <p>This seller has no products yet!</p>
    {% endif %}
    </div>
</div>
{% endif %}


{# TODO: Profile picture, user ratings, etc. #}

{% endblock %}